  



/* Mantén el contenedor principal en modo flex para organizar en columnas */
body {
    display: flex;
    flex-direction: row; /* Coloca los elementos en una fila */
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Editor a la izquierda, ocupa el 50% del ancho */
#editor-container {
    width: 50%; /* Ocupa la mitad del ancho */
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    display: flex;
    flex-direction: column;
    border-right: 9px solid #a1a1a8;
    box-sizing: border-box;
}

/* El contenedor derecho con los otros 3 divs apilados verticalmente */
#right-container {
    width: 50%; /* Ocupa la otra mitad del ancho */
    height: 100vh; /* Ocupa todo el alto */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Ajusta el contenedor del app para que se vea correctamente */
#app-container {
    flex: 1; /* Ocupa una parte igual del espacio vertical */
    padding: 38px;
    background: #ececee;
    color: #212529;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

/* Estilos para la consola */
#console-container {
    flex: 1;
    padding: 10px;
    background-color: #313235;
    color: white;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

/* El contenedor de Mocha con scroll vertical */
#mocha-container {
    flex: 1;
    background: #ececee;
    padding: 10px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Mantén los estilos del editor de código */
#code-editor {
    flex: 1;
    padding: 10px;
}

/* El botón de correr el código */
#run-button {
    margin-top: 10px;
}

/* Resto de los estilos que ya tienes */
#app {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-left: -15px;
}

/* Para los media queries en pantallas pequeñas */
@media (max-width: 768px) {
    #editor-container, #right-container {
        width: 100%;
        height: auto;
    }
}

.CodeMirror {
    white-space: pre-wrap;
    overflow-x: hidden;
    background: #f8f9fa;
    color: #4f4755;
    font-weight: bold;
}

.CodeMirror-scroll {
    overflow-x: hidden;
}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 131px;
    height: 27px;
}

