/* Contenedor principal que agrupa editor y la sección derecha */
#main-container {
    display: flex;
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    margin: 0;
    padding: 0;
}

/* Lado izquierdo: Editor de código */
#editor-container {
    width: 40%; /* Ocupa el 40% del ancho total */
    height: 100%; /* Ocupa el 100% del alto */
    display: flex;
    flex-direction: column;
    border-right: 9px solid #a1a1a8;
    box-sizing: border-box;
}

/* Contenedor derecho que agrupa los tres divs */
#right-container {
    width: 60%; /* Ocupa el 60% restante del ancho */
    height: 100%; /* También ocupa el 100% del alto */
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
    box-sizing: border-box;
}

/* Los contenedores de app, consola y mocha ocupan 1/3 del alto cada uno */
#app-container, #console-container, #mocha-container {
    flex: 1; /* Cada uno ocupa el mismo espacio vertical */
    overflow-y: auto;
    border-bottom: 1px solid #ccc; /* Líneas divisorias */
}

/* El último contenedor no necesita borde inferior */
#mocha-container {
    border-bottom: none;
}

/* Estilo específico para la consola */
#console-container {
    padding: 10px;
    background-color: #313235;
    color: white;
}

/* Estilos adicionales */
#code-editor {
    flex: 1;
    padding: 10px;
}

#run-button {
    margin-top: 10px;
}

#app-container {
    padding: 38px;
    background: #ececee;
    color: #212529;
}

/* Mocha */
#mocha {
    padding: 10px;
    background-color: #ececee;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    #editor-container, #right-container {
        width: 100%;
        height: auto;
    }
}

.CodeMirror {
    white-space: pre-wrap;
    overflow-x: hidden;
    background: #f8f9fa;
    color: #4f4755;
    font-weight: bold;
}

.CodeMirror-scroll {
    overflow-x: hidden;
}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 131px;
    height: 27px;
}
